<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>linuxchd's website</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/favicon.ico">
</head>

<body>
 <header>
		<h1>Hi, I am Linuxchad</h1>
		<p>welcome to my place on the internet!</p>
	<nav>
		<span>[<a href="/">Home</a>]</span>
		<span>[<a href="/about">About</a>]</span>
		<span>[<a href="/blog">Blog</a>]</span>
		<span>[<a href="https://github.com/linuxchd" target="_blank">Github</a>]</span>
		<span>[<a href="/contact">Contact</a>]</span>
	</nav>
</header>
	<main>
      		{% block content %}{% endblock %}
    	</main>

 <footer>
      <div>
	<a href="https://landchad.net">
	  <img src="https://landchad.net/pix/landchad.gif" target="_blank" alt="LandChad.net">
	</a>
	<a href="https://www.freebsd.org">
	  <img src="https://www.freebsd.org/gifs/power-button.gif" target="_blank" alt="LandChad.net">
	</a>
	<a href="https://wiby.me">
	  <img src="https://wiby.me/about/wiby.gif" target="_blank" alt="LandChad.net">
	</a>
	<a href="https://sadgrl.online/">
	  <img src="https://sadgrl.online/images/new/button-new.gif" target="_blank" alt="sadgrl online"></a>
      </div>
      <p id="footer-note">
	&copy Copyright 2022
	<a href="https://linuxchad.xyz">Kyle Flores</a>.
	All rights reserved.
      </p>
    </footer>

</body>

</html>

