{% extends "base.html" %}

{% block content %}
<h1 class="title">Who is linuxchad?</h1>
<p>I'm Kyle FLores aka linuxchad an 21yr old that loves linux and computers. My mind is chaotic, and I kinda like that. I also love music, workout and biking.</p>

<h1 class="title">What is this place?</h1>
<p>This is my very minimal website, a place of my own on the internet, my very little safe space where I am in control. A place where I can be myself. There are no restrictions, no secrets. Here, you can meet my true self and take a walk inside my head, and I will guide you through it.</p>


{% endblock content %}

