{% extends "base.html" %}

{% block content %}
<h2 class="title">Who is linuxchad?</h2>
<p>I'm Kyle Flores, aka linuxchad a 21yr old that loves linux and free and open source software.<br>My mind is chaotic, and I kinda like that. I also love music, workout and tech stuff.<br>
</p>

<img src="/avatar.jpg" alt="avatar image">

<h2>What's the deal here?</h2>
  <p>
    This place is a home for all my psychological dysfunctioning.<br>
    A place where I am in control, with no restrictions and manupilation.<br>
    A place where my words don't get mixed up with noise.<br>
    Here, you can meet my true self and take a walk inside my head.<br>
  </p>

<br>
{% endblock content %}

