{% extends "base.html" %}

{% block content %}
<h1 class="title">Who is <span>LinuxChad?</span></h1>
<p>I'm Kyle Flores, aka linuxchad a 21yr old that loves linux and free and open source software.<br>My mind is chaotic, and I kinda like that. I also love music, workout and tech stuff.<br>
</p><br>

<img src="/avatar.jpg" alt="avatar image">


<h2>Website Guide</h2>
<p>
  <ul>
    <li><a href="https://landchad.net/">LandChad</a> for hosting.</l
i>
    <li>If you find this website ugly - <a href="http://motherfuckingwebsite.com
">It's minimal</a>.</li>
    <li>This website was started on 12-Jun-2022.</li>
  </ul>
</p>
<br>

<h2>What's the deal here?</h2>
  <p>
    This place is a home for all my psychological dysfunction.<br>
    A place where I am in control, with no restrictions and manupilation.<br>
    A place where my words don't get mixed up with noise.<br>
  </p>

<br>
{% endblock content %}

